/* fonts CDN */
@import url("https://fonts.cdnfonts.com/css/gotham");
:root {
  /* fonts */
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  /* font size: 1rem = 10px */
  font-size: 62.5%;
  /* color palette */
  --VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --LightPurple: #6d72de;
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);
  --PureWhite: #fff;
  --bg-blue: #5a45f2;
  --bg-black: #000;
  --border-gray: rgba(110, 114, 142, 25%);
  --border-white: rgba(255, 255, 255, 25%);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* base styles */
/* styles that won't change by the size of the devices or theme */
/* reset */
body {
  text-align: center;
  background-color: var(--VeryLightGrayishBlue);
}
body,
p,
a,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}
.price-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}

.card-white-bg {
  background-color: var(--PureWhite);
}
.card-purple-bg {
  background: var(--bg-blue);
}
footer {
  margin: 5rem 0;
  color: var(--LightGrayishBlue);
}

footer a {
  color: var(--LightPurple);
}

#switch {
  width: 56px;
  height: 32px;
  border-radius: 16px;
  background: var(--bg-blue);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 2.4rem;
}
#switch.monthly {
  justify-content: flex-end;
}
#switch:hover {
  opacity: 50%;
}
#switch .switch-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  margin: 4px;
}

/* utilities */
/* font size and color */
.text-xxxl {
  font-size: 7.2rem;
}
.text-xxl {
  font-size: 4rem;
}
.text-xl {
  font-size: 3.2rem;
}
.text-l {
  font-size: 1.8rem;
}
.text-default {
  font-size: 1.5rem;
}
.text-small {
  font-size: 1.3rem;
}
.text-black {
  color: var(--DarkGrayishBlue);
}
.text-pureBlack {
  color: var(--bg-black);
}
.text-white {
  color: var(--PureWhite);
}
.text-gray {
  color: var(--GrayishBlue);
}
.text-lightgray {
  color: var(--LightGrayishBlue);
}
.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 9rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-2px);
}

.center-btn {
  display: flex;
  justify-content: center;
}
.btn p {
  letter-spacing: 1.39px;
}
.btn-white {
  background-color: var(--PureWhite);
  color: var(--bg-black);
  border: 1px solid var(--bg-blue);
}
.btn-white:hover {
  background: transparent;
  font-size: 1.4rem;
  box-shadow: inset 0px 0px 0px 1px var(--PureWhite);

  background-color: var(--bg-blue);
  color: var(--PureWhite);
}

.btn-black {
  background: var(--bg-black);
  color: var(--PureWhite);
}

.btn-black:hover {
  background: var(--PureWhite);
  color: var(--bg-black);
  box-shadow: inset 0px 0px 0px 1px var(--LightPurple);
}
.btn-blue {
  background: var(--bg-blue);
  color: var(--PureWhite);
  border: none;
}
.btn-blue:hover {
  background: var(--PureWhite);
  color: var(--bg-black);
  box-shadow: inset 0px 0px 0px 1px var(--LightPurple);
}

/* mobile styles */
.container {
  box-sizing: border-box;
  min-width: 375px;
  padding: 0 2.4rem;
}
.card {
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 50%);
  text-align: left;
  border-radius: 1rem;
  padding: 2.1rem 2.9rem;
  box-sizing: border-box;
  max-width: 327px;
  margin: 0 auto;
}
/* mobile spacing */
header {
  margin-top: 4rem;
}

main {
  margin-top: 4rem;
}

.card:not(:last-child) {
  margin-bottom: 3.2rem;
}

/* content within card */
p.plan {
  line-height: 1.55;
  margin-top: 0.5rem;
}
.price {
  margin-bottom: 1.5rem;
}
p.unit {
  letter-spacing: -1.2px;
  margin-right: 0.746rem;
}

ul {
  margin-bottom: 3.2rem;
}
ul li {
  padding: 1.2rem 0;
  line-height: 1;
}

img {
  width: 60%;
  margin: 0 25%;
}

li span {
  position: relative;
  margin-right: 1.5rem;
}

.item-not-available {
  opacity: 0.3;
}

.footer-margin {
  margin: 0 0.5rem;
}

@media screen and (min-width: 960px) {
  :root {
    font-size: 55%;
  }

  main {
    margin-top: 6.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .container {
    padding: 0 18rem;
  }
  .card:not(:last-child) {
    margin-bottom: 0;
  }
  .card {
    margin: initial;
    min-width: 327px;
  }

  .card:nth-child(2) {
    padding: 5rem 3.1rem;
    margin: 0 2%;
  }
}

@media screen and (min-width: 1240px) {
  :root {
    font-size: 62.5%;
  }
  .container {
    padding: 0 19.5rem;
  }
  header {
    margin-top: 7.1rem;
  }

  h1 {
    font-size: text-xxl;
  }
  .price-toggler {
    margin-top: 4rem;
  }
  .card {
    min-width: 350px;
  }
  .card:not(:nth-child(2)) {
    padding: 3.1rem;
  }
  .card:nth-child(2) {
    padding: 1.5rem 3.1rem;
  }
}
