/* fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

:root {
  /* fonts */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* font size: 1rem = 10px */
  font-size: 62.5%;
  /* color palette */
  --VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --LightPurple: #6d72de;
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);
  --PureWhite: #fff;
  --bg-blue: #5a45f2;
  --bg-black: #000;
  --border-gray: rgba(110, 114, 142, 25%);
  --border-white: rgba(255, 255, 255, 25%);
}

/* base styles */
/* styles that won't change by the size of the devices or theme */
/* reset */
body {
  text-align: center;
  background-color: var(--VeryLightGrayishBlue);
}
body,
p,
a,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* utilities */
/* font size and color */
.text-xxxl {
  font-size: 7.2rem;
}
.text-xxl {
  font-size: 4rem;
}
.text-xl {
  font-size: 3.2rem;
}
.text-l {
  font-size: 1.8rem;
}
.text-default {
  font-size: 1.5rem;
}
.text-small {
  font-size: 1.3rem;
}
.text-black {
  color: var(--DarkGrayishBlue);
}
.text-white {
  color: var(--PureWhite);
}
.text-gray {
  color: var(--GrayishBlue);
}
.text-lightgray {
  color: var(--LightGrayishBlue);
}
.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 9rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-size: ;
}
.btn:hover {
  transform: translateY(-2px);
}

.center-btn {
  display: flex;
  justify-content: center;
}
.btn p {
  letter-spacing: 1.39px;
}
.btn-white {
  background-color: var(--PureWhite);
  color: var(--bg-black);
  border: 1px solid var(--bg-blue);
}
.btn-white:hover {
  background: transparent;
  font-size: 1.2rem;
  box-shadow: inset 0px 0px 0px 1px var(--PureWhite);
  border: 1px solid var(--bg-black);
  color: var(--bg-blue);
}

.btn-black {
  background: var(--bg-black);
  color: var(--PureWhite);
}

.btn-black:hover {
  background: var(--PureWhite);
  color: var(--bg-black);
  box-shadow: inset 0px 0px 0px 1px var(--LightPurple);
}
.btn-blue {
  background: var(--bg-blue);
  color: var(--PureWhite);
  border: none;
}
.btn-blue:hover {
  background: var(--PureWhite);
  color: var(--bg-black);
  box-shadow: inset 0px 0px 0px 1px var(--LightPurple);
}

.container {
  box-sizing: border-box;
  min-width: 375px;
  padding: 0 2.4rem;
}
.card {
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 50%);
  text-align: left;
}
/* mobile spacing */
header {
  margin-top: 6.4rem;
}
.price-toggler {
  margin-top: 4.2rem;
}
main {
  margin-top: 8rem;
}
.card {
  padding: 3.1rem 2.9rem;
  box-sizing: border-box;
  max-width: 327px;
  margin: 0 auto;
}
.card:not(:last-child) {
  margin-bottom: 3.2rem;
}

.card-purple-bg {
  background-color: #5a45f2;
}
/* content within card */
p.plan {
  line-height: 1.55;
  margin-top: 0.5rem;
}
.price {
  margin-bottom: 2.5rem;
}
p.unit {
  letter-spacing: -1.2px;
  margin-right: 0.746rem;
}
p.price-number {
  line-height: 0.986;
  /* letter-spacing: -2.16px; */
}
ul {
  margin-bottom: 3.2rem;
}
ul li {
  padding: 1.2rem 0;
  line-height: 1;
}

.card-white-bg ul li:last-child {
}
.card-purple-bg ul li {
}
.card-purple-bg ul li:last-child {
}

/* check this placement below */

img {
  width: 60%;
  margin: 0 25%;
}

li {
  list-style-type: "\2713" !important;
}

li span {
  position: relative;
  left: 1rem;
}

.item-not-available {
  opacity: 0.3;
}
