/* fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

:root {
  /* fonts */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* font size: 1rem = 10px */
  font-size: 62.5%;
  /* color palette */
  --VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --LightPurple: #6d72de;
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);
  --PureWhite: #fff;
  --bg-purple: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --border-gray: rgba(110, 114, 142, 25%);
  --border-white: rgba(255, 255, 255, 25%);
}

/* base styles */
/* styles that won't change by the size of the devices or theme */
/* reset */
body {
  text-align: center;
  background-color: var(--VeryLightGrayishBlue);
}
body,
p,
a,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* utilities */
/* font size and color */
.text-xxxl {
  font-size: 7.2rem;
}
.text-xxl {
  font-size: 4rem;
}
.text-xl {
  font-size: 3.2rem;
}
.text-l {
  font-size: 1.8rem;
}
.text-default {
  font-size: 1.5rem;
}
.text-small {
  font-size: 1.3rem;
}
.text-black {
  color: var(--DarkGrayishBlue);
}
.text-white {
  color: var(--PureWhite);
}
.text-gray {
  color: var(--GrayishBlue);
}
.text-lightgray {
  color: var(--LightGrayishBlue);
}
.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 1.4rem 0;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn p {
  letter-spacing: 1.39px;
}
.btn-purple {
  background: var(--bg-purple);
  color: var(--PureWhite);
}
.btn-purple:hover {
  background: transparent;
  color: var(--LightPurple);
  box-shadow: inset 0px 0px 0px 1px var(--LightPurple);
}
.btn-white {
  background-color: var(--PureWhite);
  color: var(--LightPurple);
}
.btn-white:hover {
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px var(--PureWhite);
  color: var(--PureWhite);
}

img {
  width: 10%;
}

li {
  list-style-type: "\2713" !important;
}

li span {
  position: relative;
  left: 1rem;
}
